<DOCTYPE html>
    <html lang='en'>
        <head>
            <meta charset="UTF-8">
            <title>Analyzed Text</title>
        </head>
        <body>
            <h1>
                You are doing : {{ purpose }}
            </h1>
            <p> Result : "{{ analyzed_text }}"</p>
            <p> The punctuations in your text: "{{ punctuations_in_text }}" </p>
            <br>
            <p> Capitalize all the texts: "{{ capitalize }}" </p>
            <br>
            <p> New Line Remove: "{{ newlineremover }}" </p>
            <br>
            <p> Space Remove: "{{ extraspaceremover }}" </p>
            <br>
            <p> Total characters in line: "{{ charcount }}" </p>
            <br>
            <p> Go back to <a href='/'>Home</a> </p>
        </body>
    </html>





<!-- <!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="UTF-8">
        <title>Analyzed Text</title>
        <script type="text/javascript">
            // Check if localStorage is supported
            if (typeof(Storage) !== "undefined") {
                // Retrieve visitor count from localStorage
                var visitor_count = localStorage.getItem("visitor_count");
                
                // If visitor_count is null, initialize it to 0
                if (visitor_count === null) {
                    visitor_count = 0;
                } else {
                    // Otherwise, convert it to an integer
                    visitor_count = parseInt(visitor_count);
                }
                
                // Increment visitor count
                visitor_count += 1;
                
                // Store the updated visitor count in localStorage
                localStorage.setItem("visitor_count", visitor_count);
            }
        </script>
    </head>
    <body>
        <h1>
            You are doing : {{ purpose }}
        </h1>
        <p> Result : "{{ analyzed_text }}"</p>
        <p> The punctuations in your text: "{{ punctuations_in_text }}" </p>
        <br>
        <p> Capitalize all the texts "{{ capitalize }}" </p>
        <br>
        <p> New Line Remove "{{ newlineremover }}" </p>
        <br>
        <p> Space Remove "{{ extraspaceremover }}" </p>
        <br>
        <br>
        <p> Total visitors: <span id="visitor_count"></span></p>
        <script type="text/javascript">
            // Display the visitor count
            document.getElementById("visitor_count").innerText = visitor_count;
        </script>
        <br>
        <p> Go back to <a href='/'>Home</a> </p>
    </body>
</html> -->
